body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.black{
    background-color: black;
}

.cards {
    display:grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 5px;
}
.cards img{
    height: 200px;
    width: 200px;
}

.a{
    grid-area: a;
} 

.b{
    grid-area: b; 
} 

.c{
    grid-area: c;
}

.d{
    grid-area: d;
}

.vermelho {
    background-color: red;
}

.azul {
    background-color: blue;
}